<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons>


<ion-content [fullscreen]="true">


  <div id="container">

    <div *ngIf="online == false;"><strong class="capitalize">No hay conexion a internet</strong><br><br><br></div>

    <strong class="capitalize">Historicos</strong>

    <ion-list>
      <ion-item ng-repeat="result in results"><
      <strong>
        {{result.Confirmed}}
        {{result.Deaths}}
      </strong>
      </ion-item>
    </ion-list>


  </div>
</ion-content>
