<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons>


<ion-content [fullscreen]="true">


  <div id="container">


    <div *ngIf="favorito;"><strong class="capitalize">Tu país favorito es {{favorito}}</strong><br><br></div>
    <div *ngIf="favorito; else block"><strong class="capitalize">Confirma para cambiar tu país favorito!</strong><br><br><br></div>
    <ng-template #block><strong class="capitalize">Aún no tienes un país favorito, elige uno!</strong><br><br><br></ng-template>



    <form (ngSubmit)="guardarFavorito(seleccionado)">

        <ion-select [(ngModel)]="seleccionado" name="favorito">
          <ion-select-option *ngFor="let item of options;" value="{{item.Country}}">{{item.Country}} </ion-select-option>
        </ion-select>
      <br><br>
      <ion-button type="submit" style="float: center;"><strong>Confirmar</strong></ion-button>

    </form>
    <br>
    <form *ngIf="favorito;" (ngSubmit)="eliminarFavorito()">
      <ion-button type="submit" *ngIf="favorito;">Des-seleccionar favorito</ion-button>
    </form>


  </div>
</ion-content>
